<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lime.core.mapper.PhonemessageLogMapper">

    <resultMap id="BaseResultMap" type="cn.lime.core.module.entity.PhonemessageLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="outerMessage" column="outer_message" jdbcType="VARCHAR"/>
            <result property="gmtCreated" column="gmt_created" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,phone,outer_message,
        gmt_created
    </sql>
</mapper>
